
<h1> Journals for <%= @user.username %>  </h1> <%= link_to "Back to users", users_path %>

<%= link_to "New Journal", new_user_journal_path(@user) %>
<ul>
<% @journals.each do |journal| %>
  <% if journal.private != true %>
      <li><%= link_to journal.title , user_journal_path(@user, journal) %>
      <hr>
      </li>
      <% elsif session[:user_id] == @user.id %>
      <li><%= link_to journal.title , user_journal_path(@user, journal) %>
      <hr>
      </li>
    <% end %>
    <% end %>
</ul>
